services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - user-network

  crud-user:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    environment:
      - DB_URL=jdbc:postgresql://postgres:5432/userdb
      - DB_USERNAME=postgres
      - DB_PASSWORD=password
    volumes:
      - ./logs:/app/logs
    stdin_open: true
    tty: true
    networks:
      - user-network

volumes:
  postgres_data:

networks:
  user-network:
    driver: bridge